@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*variables for repeated colors and hsl*/

:root {
    --pink: hsl(310, 100%, 65%);
    --blue: hsl(232, 84%, 53%);
    --background: hsl(228, 42%, 95%);
    --text: hsl(310, 100%, 95%);
    --true-white: #fcfcff;
    --true-black: #050203;
    --purple: #330072;
    --teal: #008080;
  }
/*set the font size for easily understood rem sizing*/
html {
    font-size: 62.5%;
}

body {
    background-color: var(--true-black);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
    color: var(--true-white);
    font-family: 'Poppins', sans-serif;
    line-height: 2;
}
/*reduced app to a container for a sleak look*/

.container {
    background-color: var(--true-black);
    width: 60vw;
    display: flex;
    justify-content: center;
    align-content: center;
}

header {
    width: 60vw;
    position: absolute;
    display: flex;
    flex-wrap: none;
    background: var(--true-black);
    justify-content: space-between;
    padding: 10px 0px;
    z-index: 10;
}

h1 {
    font-size: 3rem;
    margin-left: 2rem;
    align-self: flex-start;
}

nav {
    z-index: 3;
    align-self: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    font-size: 1.5rem;
    padding: 0 1.5rem;
    float: left;
    text-align: center;
    align-items: right;
    cursor: pointer;
}
/*additional effects for anchor elements in nav and footer*/
ul a {
    display: block;
    text-decoration: none;
    --s: 0.1em;   
    --c: var(--blue); 
    color: var(--teal);
    padding-bottom: var(--s);
    background: 
    linear-gradient(90deg,var(--c) 50%, var(--true-white) 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
-webkit-background-clip: text,padding-box;
background-clip: text,padding-box;
    transition: 0.5s;
}

a:hover{
    --_p: 100%
}

#about-container {
    padding: 4rem 0;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.avatar {
    height:20rem;
    width: 20rem;
    position: relative;
    border: .5rem solid var(--teal);
    border-radius: 50%;
    align-self: center;
}

.about {
    padding-top: 5rem;
    width: 30rem;
}

p {
    font-size: 1.5rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
      35deg,
      var(--pink),
      var(--blue));
}

.header {
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
    padding: 1rem;
}

#work {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
}

.card {
    height: 18rem;
    width: 24rem;
    margin: 1rem;
    background-image: url(../images/technical-page-Song-Screenshot.png);
    background-size: cover;
    display: block;
    transition-duration: 1s;
}
.project:nth-child(3) > .card {
    background-image: url(../images/tribute-page-Appa-Screenshot.png);
    background-position: center;
}
.project:nth-child(4) > .card {
    background-image: url(../images/prework-study-guide-Screenshot.png);
    background-position: center;
}
.project:nth-child(5) > .card{
    background-image: url(../images/mini-project-22-Recreate-screenshot.png);
}

.main-card {
    width: 50vw;
    background-image: url(../images/01-html-css-git-homework-demo.png);
}
/*brought project anchor elements forward to assure functionality*/
.project {
    z-index: 3;
}

.overlay {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .75s ease;
    background-color: var(--purple);
  }
  
.card:hover .overlay {
    opacity: 100;
  }
  
.description {
    color: var(--true-white);
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

footer {
    position: relative;
    display: flex;
    background-color: #D1C4C6;
    justify-content: center;
    padding: 1rem 0;
    margin: 0;
}

footer ul {
    display: flex;
    list-style-type: none;
    flex-flow: row wrap;
}

footer li {
    margin: 1rem;
    padding: .5rem 0 .5rem .5rem;
    text-align: center;
    color: var(--teal);
}

/*media queries section*/

@media screen and (max-width: 692px) {
    body {
        padding: 0;
    }
    .container {
        width: 100vw;
    }
    header {
        width: 100vw
    }
    nav ul li {
        clear: left;
    }
    #about-container {
        flex-direction: column;
        align-items: center;
        padding-top: 15rem;
    }

    .card {
        width: 30rem;
    }
}

@media screen and (max-width: 866px) {
    .card {
        width: 30rem;
    }
}


@media screen and (min-width: 1100px) and (max-width: 3000px) {
    html {
        font-size: 80%;
    }

    body { 
        padding: 0rem;
    }
    .container {
        width: 80vw;
    }

    header {
        width: 70vw;
    }

    .card {
        height: 25rem;
        width: 40vw;
    }

    .main-card {
        width: 90vw;
    }
}
